# --- PDI-Eval 最终忽略规则 ---

# 1. 模型权重
checkpoints/
*.pth
*.pt

data/
# 2. 数据与结果
output/
debug_results/
new_results/
humanstudy/
visualization/
*.mp4
*.jpg
*.png
*.npz
*.npy
*.csv
videos/
test_lietorch.py
test.py
testing.py
cotracker_check.py
sam2_check.py
debug_results/
debug_sam2.py
sam2_check.py
camera.md
paper.tex
allpdi/
pdi_recalculate.py
plot_pdi.py
1.py
analyze_model_evaluation.py
app.py

# 3. 系统与环境
__pycache__/
.vscode/
.cursor/
.DS_Store
.venv/
env/data/1s.mp4
data/1s.mp4


# 4. 忽略根目录下的所有文件（保留子文件夹）
/*
!/*/
!/.gitignore
!/README.md
!/camera_objects.json
!/camera_prompts.json

/humanstudy/